@font-face {
  font-family: 'Font';
  src: url("https://pyplee.github.io/My-first-project/font/ofont.ru_Bad\ Comic.ttf");
}

@font-face {
  font-family: 'Warface';
  src: url("https://pyplee.github.io/My-first-project/font/warfaceregularrussian.ttf");
}

body {
  background-image: url("https://pyplee.github.io/My-first-project/image/back.jpeg");
}

.btn {
  font-family: 'Warface';
}

.container-lg {
  background-color: aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Warface';
  font-size: large;
  margin-top: 50px;
}

.article {
  font-family: 'Warface';
  font-size: xx-large;
}

.input-group-text {
  padding: 10px;
}

.input-group {
  padding: 10px;
}

hr {
  margin: 10px;
  padding: 10px;
  height: 0px;
  border: none;
  border-top: 3px solid grey;
}

.progress {
  margin: 40px;
}

.container-lg>position-relative {
  width: 50%;
}

a {
  color: black;
  text-decoration: none;
}

.check {
  columns: 4;
}

.modal-img {
  width: 100%;

}
